.accordion {
  cursor: pointer;
  padding: 18px;
  text-align: left;
  width: 100%;
  background: black;
  color: whitesmoke;
  border: none;
  font-size: 1.2rem;
  font-weight: bold;
  outline: 0;
}
.accordion:hover {
  background: rgba(255, 255, 255, 0.2);
  transition: all 0.2s ease-out;
}
.open {
  display: block;
  height: auto;
}

.close {
  display: none;
}
.acc-item {
  width: 100% !important;
  min-width: 100% !important;
}
.rowx {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.itemx {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
