.accordion {
  cursor: pointer;
  padding: 10px;
  text-align: left;
  background: rgba(0, 0, 0, 0);
  width: 100%;
  min-width: 100vw;
  color: whitesmoke;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  outline: 0;
}
.accordion:hover {
  background: rgba(255, 255, 255, 0.1);
  transition: all 0.4s ease-out;
}
.accordion span {
  float: right;
}
.open {
  display: block;
  height: auto;
}

.close {
  display: none;
}
.acc-item {
  width: 100% !important;
  min-width: 100% !important;
}
.rowx {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.itemx {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
