:host {
  display: block;
}
ion-card {
  margin: 0 auto;
  margin-top: 50px;
  max-width: 768px;
}
a,
ion-router-link {
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white !important;
  transition: all 0.3s ease-out;
}
a:hover,
ion-router-link {
  color: #a89968;
}
.actions {
  display: flex;
  flex-direction: column;
}
.medical-mj {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 10px;
}

b {
  font-weight: bolder;
  color: white;
}
ion-input {
  --background: black !important;
  border-radius: 5px;
  margin-bottom: 15px;
  --padding-start: 10px !important;
}
.announcement {
  background: rgb(85, 9, 9) !important;
}
.returning {
  display: flex;
  align-items: center;
}
.alertcircle {
  margin-right: 10px;
}
#content {
  margin: 15px 0 15px 0;
}
