:host {
  display: block;
}
.tc {
  text-align: center;
}
.vertical-align-content > * {
  display: flex !important;
  align-content: center !important;
  align-items: center !important;
}
/* Without setting height the slides will take up the height of the slide's content */
ion-slides {
  height: 100%;
}
.vertical-align-content {
  height: 100vh !important;
  width: 100vh !important;
  text-align: center !important;
}
ion-item {
  font-size: 0.9rem;
}
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

#proposal-heading {
  background: orange !important;
}
